@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Rubik", sans-serif;
}

@layer base {
  .input {
    @apply placeholder:text-[#8c8c8c] text-white font-normal bg-[#3333] placeholder:text-sm p-2 rounded focus:outline-[#D62560] focus:outline-none focus:outline-1;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: #fff !important;
}

::-webkit-scrollbar {
  width: 0px;
}